body {
    font-family: Arial, sans-serif;
    background-color: rgb(238, 246, 252);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(1, 187, 42);
    color: rgb(0, 90, 20);
    text-align: center;
    padding: 25px;
}
header h1{
    font-size: 50px;
    color:rgb(0, 90, 20);
}

.contenedor {
    max-width: 1000px;
    margin: 0 auto;
}

.piscina{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    box-shadow: 1px 15px 40px rgba(20, 20, 20, 0.5);
}

.section {
    background-color: rgb(1, 187, 42);
    padding: 20px;
    margin: 20px 0;
    box-shadow: 1px 15px 40px rgba(20, 20, 20, 0.5);
}

.section h2 {
    font-size: 24px;
}
nav {
    text-align: center;
    background-color: rgb(0, 90, 20);;
}

ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    box-shadow: 1px 15px 40px rgba(20, 20, 20, 0.5);
}

li {
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-weight: bold;
    font-size: 20px;
    
}

@media (max-width: 768px) {
    header {
        background-color: rgb(1, 187, 42);
        color: rgb(0, 90, 20);
        text-align: center;
        padding: 25px;
        width: 912px;
    }
    .section {
        background-color: rgb(1, 187, 42);
        padding: 20px;
        margin: 20px 0;
        box-shadow: 1px 15px 40px rgba(20, 20, 20, 0.5);
        width: 912px;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: rgb(238, 246, 252);
        margin: 0;
        padding: 0;
    }
}